@{
    ViewBag.Title = "Home Page";
}

    <!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">R - Script</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RScript</a>
        </div>
       
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @*<p class="lead">Shop Name</p>*@
            <p></p>
            <div class="list-group">
                <a href="/home/index?modelId=1" class="list-group-item @(ViewBag.modelId == 1 ? "active" : "") ">Model 1</a>
                <a href="/home/index?modelId=2" class="list-group-item @(ViewBag.modelId == 2 ? "active" : "") ">Model 2</a>
                <a href="/home/index?modelId=3" class="list-group-item @(ViewBag.modelId == 3 ? "active" : "") ">Model 3</a>

            </div>
        </div>
        <div class="col-md-9">
            <p></p>
            <div class="well">  
                <form method="post" enctype="multipart/form-data" action="/home/GenerateReort?modelId=@ViewBag.modelId">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="ModelId" placeholder="Server" value="@ViewBag.ModelId" />
                            <input type="file" name="inputFile" /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="Server" placeholder="Server" value="LPT-002384\SQLEXPRESS" />
                            <input type="text" name="Database" placeholder="Database" value="AdventureWorks2016CTP3" />
                           
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="Username" placeholder="Username" value="rscript" />
                            <input type="text" name="Password" placeholder="Password" value="Rscript@123" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">                           
                            <button id="btnGenerate" type="submit" class="btn btn-primary">Generate Report</button>
                        </div>
                    </div>
            </form>       
            <hr>
            <div class="row">
                <div class="col-md-12" style="overflow-x:scroll">
                    <table id="grid-model1" class="table table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th data-column-id="PurchaseOrderID">PurchaseOrderID</th>
                                <th data-column-id="PurchaseOrderDetailID">PurchaseOrderDetailID</th>
                                <th data-column-id="DueDate">DueDate</th>
                                <th data-column-id="OrderQty">OrderQty</th>
                                <th data-column-id="ProductID">ProductID</th>
                                <th data-column-id="UnitPrice">UnitPrice</th>
                                <th data-column-id="LineTotal">LineTotal</th>
                                <th data-column-id="ReceivedQty">ReceivedQty</th>
                                <th data-column-id="RejectedQty">RejectedQty</th>
                                <th data-column-id="StockedQty">StockedQty</th>
                                <th data-column-id="ModifiedDate">ModifiedDate</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript">

    $(document).ready(function () {
        console.log('init');
        
        $('form').ajaxForm({
            beforeSend: function () {
                $('#btnGenerate').text('Processing..');
            },
            uploadProgress: function (event, position, total, percentComplete) {

            },
            success: function (res) {
                console.log("in success");

                if (res.IsSuccess) {
                    showGrid();
                } else {
                    alert(res.Message);
                }
               
                $('#btnGenerate').text('Generate Report');
            },
            complete: function (xhr) {
                console.log("in complete");
            }
        });

        $("#grid-model1").bootgrid({
            ajax: true,
            url: "/home/getData?a",
            templates: {
                search: "",
                actions: "",
            },
        });

        function showGrid() {
            $('#grid-model1').bootgrid('reload');
            
        }

    });



</script>